@model open_house_checker.Models.ViewModels.Login.LoginAccessViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="app-contant">
    <div class="bg-white">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 align-self-center foxconn_gradient">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class=" w-100">
                            <div class="row no-gutters align-items-center justify-content-center">
                                <div class="col-md-10 text-center m-b-40">

                                    <!-- Login text -->
                                    <div class="px-5">
                                        <h2 class="text-white display-3 font-weight-normal font_poppings">Iniciar Sesión</h2>
                                        <span class="text-white font_poppings" style="font-size: 15px;">Bienvenido, por favor ingrese sus credenciales...</span>
                                    </div>

                                    <!-- newsletter -->
                                    <div class="row no-gutters">
                                        <div class="col-md-7 mx-auto">
                                            <form asp-controller="Login" asp-action="Login" method="post" class="px-5 mt-3">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label font_poppings"><strong style="font-size: 17px; color: #AADEF7;">Usuario*</strong></label>
                                                            <input type="text" class="form-control bg-white-inverse input_bold" name="Username" asp-for="Username" placeholder="Usuario">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label font_poppings"><strong style="font-size: 17px; color: #AADEF7;">Contraseña*</strong></label>
                                                            <input type="password" class="form-control bg-white-inverse input_bold" name="Password" asp-for="Password" placeholder="Contraseña">
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-3">
                                                        <button type="submit" class="button_check_finish">Sign In</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    
                    <img class="img-fluid" src="~/img/open_house_logo.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

