
@{
    ViewData["Title"] = "Stations";
    Layout = "~/Views/Shared/_CheckinLayout.cshtml";
}
@section styles {
    <link href="~/css/checkin/stationscss.css" rel="stylesheet" />
}

    <div class="row">
        <div class="col-8">
            <div class="card card-statistics text-center">
                <div class="card-body" style="padding-top: 0px; padding: 0px 0;">
                        <div class="form-row">
                            <div class="form-group col-6" >
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 1</h5>
                                     <div class="image-container" data-counter="counter1">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_1.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                   
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_1">0</p>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 2</h5>
                                    <div class="image-container" data-counter="counter2">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_2.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_2">0</p>                                      
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 3</h5>
                                    <div class="image-container" data-counter="counter3">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_3.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_3">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 4</h5>
                                    <div class="image-container" data-counter="counter4">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_4.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_4">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 5</h5>
                                    <div class="image-container" data-counter="counter5">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_5.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_5">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 6</h5>
                                    <div class="image-container" data-counter="counter6">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_6.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_6">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 7</h5>
                                    <div class="image-container" data-counter="counter7">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_7.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_7">0</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <div class="pricing-content-card">
                                    <h5 style="color: #174E91;" class="font_poppings">ESTACION 8</h5>
                                    <div class="image-container" data-counter="counter8">
                                         <div class="increment">
                                          <img class="img-fluid" style="max-width:30vh;" src="~/img/stations/station_8.jpg" />
                                          <div class="image-text">Seleccionar</div>
                                         </div>
                                     </div>
                                    <div class="counter-container">
                                        <p class="counter" style="color:black; font-weight: bold;" id="station_8">0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card card-statistics text-center foxconn_gradient py-5">
                <button class="invisible-button" id="show_elements">Show All</button>
                <!-- Add a button for exporting data -->
                <button class="btn btn-success" id="exportCsvButton">Export to CSV</button>
                <div class="card-body pricing-content">
                    <div class="pricing-content-card">
                        <img class="img-fluid logo-desktop" src="~/img/open_house_logo_white.png" />
                        
                        <div class="pt-2">
                           <button id="myButton" style="font-size: 30px" class="button_check_finish">Seleccionar Todos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
     </div>
@*</div>*@

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="~/app/checkin/stationapp.js"></script>
}

