
@{
    ViewData["Title"] = "VisitorsReport";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section Styles {
    @*<link href="~/css/Customcss.css" rel="stylesheet" />*@
}
<div class="container-fluid" ng-app="VisitorsReportApp" ng-controller="VisitorsReportController">

    <!-- begin row -->
    <div class="col-12">
        <!-- begin View Title -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                    <div class="page-title mr-2 pr-4 border-right"><h1 class="font_poppings">Visitantes <i class="fa fa-user-circle" style="color:#0074ff;"></i></h1></div>

                    <div class="d-flex align-items-center secondary-menu text-center" style="margin-left:1%">
                        <input type="text" name="name" ng-model="SrchString" class="form-control" placeholder="Busqueda General" />
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:1%">
                        <button class="excel_button" title="Descargar Excel" ng-click="DownloadReport()">
                            <i class="fa fa-file-excel-o"></i>
                        </button>
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:2%">
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:2%">
                        <h4 class="font_poppings" style="color:#0074ff">Empleados: {{ TotalChecked.emp_count }}</h4>
                        <h4 class="font_poppings" style="color:#0074ff">Visitas: {{ TotalChecked.visit_count }}</h4>
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:1%">
                        <h4 class="font_poppings" style="color:#0074ff">Adultos: {{ TotalChecked.visit_adult_count }}</h4>
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:2%">
                        <h4 class="font_poppings" style="color:#0074ff">Niños: {{ TotalChecked.visit_child_count }}</h4>
                        <h4 class="font_poppings" style="color:#0074ff">Hombres: {{ TotalChecked.visit_sex_m_count }}</h4>
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:1%">
                        <h4 class="font_poppings" style="color:#0074ff">Mujeres: {{ TotalChecked.visit_sex_f_count }}</h4>
                    </div>
                    <div class="d-flex align-items-center text-center" style="margin-left:2%">
                        <h3 class="font_poppings" style="color: #176cd1">Total: {{ TotalChecked.total_count }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- End View Title -->
        <div class="card card-statistics">
            <div class="card-body">
                <div class="table table-responsive table-borderless table-hover" style="max-height:60vh">
                    <span style="color:black"><strong>Total Filtrado: {{filtered.length}}</strong> </span>
                    <table class="table mb-0">
                        <thead class="foxconn_gradient_table" style="color:aliceblue">
                            <tr>
                                <th scope="col">Numero De Empleado</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Tipo Visita</th>
                                <th scope="col">Sexo Visita</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Fecha De Entrada</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="visit in filtered = (VisitList | filter: SrchString | filter:{checada_entrada: CheckInStatusModel} | filter:{checada_aprobada: CheckSindicateStatusModel})">
                                <td class="bold" style="color:black">{{ visit.emp_id_rh }}</td>
                                <td class="bold" style="color:black">{{ visit.emp_name }}</td>
                                <td class="bold" style="color:black">{{ visit.visit_type }}</td>
                                <td class="bold" style="color:black">{{ visit.visit_sex }}</td>
                                <td class="bold" style="color:black">{{ visit.visit_age }}</td>
                                <td class="bold" style="color:black">{{ visit.visit_check_date | date: 'dd MMM, yyyy  hh:mm a' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- end row -->



</div>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/2.2.2/alasql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.12/xlsx.core.min.js"></script>
    <script src="~/App/Admin/VisitorsReportApp.js"></script>
}

